<div class="filterForm__container">

    <div class="filterForm__container__col1">
        <div class="filterForm__container__col1-1">
            {{ form_start(filterForm.campus) }}
            {{ form_row(filterForm.campus) }}
            {{ form_row(filterForm.name) }}
            {{ form_row(filterForm.firstDate) }}
            {{ form_row(filterForm.secondDate) }}
        </div>
        <div class="filterForm__container__col1-2">
            {{ form_row(filterForm.registeredOrNot) }}
            {{ form_row(filterForm.organizer) }}
            {{ form_row(filterForm.over) }}
        </div>
    </div>
    <div class="filterForm__container__col2">
        {{ form_widget(filterForm.search) }}
        <a class="btn btn-outline" href="{{ path('home') }}">Réinitialiser les filtres</a>
        <a class="btn btn-outline" href="{{ path('update_status') }}">Mettre à jour les statuts</a>
        {{ form_end(filterForm.campus) }}
    </div>

</div>