<div class="eventListing">
    {% for event in events %}
        {% if event.status.label != 'Archived' %}
            <div class="eventItem">
                <div class="eventItem__header">
                    <h2 class="eventItem__title"><a
                                href="{{ path('event_detail', {'id': event.id}) }}">{{ event.name }} </a></h2>
                    <p class="eventItem__organizer">organisé par <a
                                href="{{ path('profile', {'id': event.organizer.id}) }}">{{ event.organizer.username }}</a>
                    </p>
                    <div class="eventItem__registerAndStatus">
                        {% if  event.status.label  ==  'Creating' %}
                            <p>En création</p>
                        {% endif %}
                        {% if  event.status.label  ==  'Opened' %}
                            <p>Ouverte</p>
                        {% endif %}
                        {% if  event.status.label  ==  'Closed' %}
                            <p>Fermée</p>
                        {% endif %}
                        {% if  event.status.label  ==  'Running' %}
                            <p>En cours</p>
                        {% endif %}
                        {% if  event.status.label  ==  'Over' %}
                            <p>Terminée</p>
                        {% endif %}
                        {% if  event.status.label  ==  'Cancelled' %}
                            <p>Annulée</i></p>
                        {% endif %}

                        {% set idAttendee = " " %}
                        {% for attendee in event.attendees %}
                            {% if  attendee.id  ==  app.user.id %}
                                <p>Inscrit <i class="far fa-check-circle"></i></p>
                                {% set idAttendee = attendee.id %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="eventItem__body">
                    <p class="eventItem__date"><i class="far fa-calendar-alt"></i> {{ event.startDate | date("d/m/Y") }}
                        à {{ event.startDate | date("h:i") }}</p>

                    <p class="eventItem__closingDate">Inscription avant
                        le {{ event.closingDate | date("d/m/Y") }}</p>
                    <div class="eventItem__nbAttendees">
                        <p>Places</p>
                        <p><i class="fas fa-users"></i> {{ event.attendees | length }} / {{ event.maxAttendees }} </p>
                    </div>

                </div>

                <div class="eventItem__action">
                    {# On affiche des liens en fonction de l'état de la sortie et de la situation de l'utilisateur par rapport à chaque sortie #}

                    {% if event.status.label != 'Creating' %}
                        <a class="btn btn--primary" href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>
                    {% endif %}

                    {% if event.status.label == 'Opened' and idAttendee != app.user.id %}
                        <a class="btn btn--primary" href="{{ path('signup', {id: event.id }) }}">S'inscrire</a>
                    {% endif %}

                    {% if event.status.label == 'Opened' and idAttendee == app.user.id or event.status.label == 'Closed' and idAttendee == app.user.id %}
                        <a class="btn btn--primary" href="{{ path('signout', {id: event.id }) }}">Se désister</a>
                    {% endif %}

                    {% if event.organizer.id == app.user.id or is_granted('ROLE_ADMIN') %}
                        {% if event.status.label == 'Opened' %}
                            <a class="btn btn--danger" href="{{ path('remove', {id: event.id }) }}">Annuler</a>
                        {% endif %}
                        {% if event.status.label == 'Creating' %}
                            <a class="btn btn--primary" href="">Modifier</a>
                            <a class="btn btn--primary" href="{{ path('publish', {id: event.id }) }}">Publier</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        {% endif %}
    {% endfor %}
    {{ knp_pagination_render(events) }}
    {% if events | length < 1 %}
        <p>Aucune sortie ne correspond aux critères séléctionnés !</p>
    {% endif %}
</div>