{% extends 'layout.html.twig' %}

{% block title %}Gérer les campus{% endblock %}

{% block body %}
<div class="cityContainer">
    <div class="cityContainer__cityList">
        <h3>Rechercher un campus</h3>
        {{ form_start(campusSearchForm) }}
        {{ form_widget(campusSearchForm) }}
        <button type="submit" class="btn btn-validate">Rechercher</button>
        {{ form_end(campusSearchForm) }}


        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>

            {% for campus in campuses %}
                <tr>
                    <td>{{ campus.name }}</td>
                    <td>
                        <form method="post" action="{{ path('admin_delete_campus', {id : campus.id }) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="cityContainer__cityAdd">
        <div>
            <h3>Créer un nouveau campus</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-validate">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>

    {% endblock %}
