<nav class="navbar">
    <a class="navbar__logo" href="{{ path ('home') }}">Sortir</a>
    <ul class="navbar__list">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path ('app_logout') }}">Se déconnecter</a></li>
            <li><a href="{{ path ('create_event') }}">Créer une sortie</a></li>
            <li><a href="{{ path ('profile', {id: app.user.id }) }}">Mon profil</a></li>
        {% else %}
            <li><a href="{{ path ('app_login') }}">Se connecter</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('user_admin') }}">Gestion des utilisateurs</a></li>
        {% endif %}
    </ul>
</nav>

